.item-content {
    background-color: #198754;
}

#produk-terlaris {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.footer {
background-color: black;
}

.footer h1 {
    color: white;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
}

.card-img-top {
    min-height: 150px;
    max-height: 150px;
}

.card-text {
    font-size: 15px;
}

.card-body{
    text-align: center;
}

.button{
    margin-bottom: 2px;
}