/* .item-content {
    background-color: #198754;
} */

#produk-terlaris {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.footer {
background-color: black;
}
    
.footer h1 {
color: white;
text-align: center;
font-family: calibri;
font-size: 20px;
}

#Sayur{
    color: black;
    font-weight: bold; 
    font-size: 30px;
    text-align: center;
}
.card-body{
    text-align: center;
}
#Buah{
    color: black;
    font-weight: bold; 
    font-size: 30px;
    text-align: center;
}
.button{
    margin-bottom: 2px;
}
